<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>

    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Image Servlet Mapping -->
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>controllers.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <!-- Admin Access Filter -->
    <filter>
        <filter-name>AdminAccessFilter</filter-name>
        <filter-class>controllers.AdminAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAccessFilter</filter-name>
        <url-pattern>/pages/admin/*</url-pattern>
    </filter-mapping>

    <!-- Staff Access Filter -->
    <filter>
        <filter-name>StaffAccessFilter</filter-name>
        <filter-class>controllers.StaffAccessFilter</filter-class>
    </filter>
    <filter-mapping>    
        <filter-name>StaffAccessFilter</filter-name>
        <url-pattern>/pages/staff/*</url-pattern>       
    </filter-mapping>

    <!-- Customer Access Filter -->
    <filter>
        <filter-name>CustomerAccessFilter</filter-name>
        <filter-class>controllers.CustomerAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerAccessFilter</filter-name>
        <url-pattern>/pages/user/checkout.xhtml</url-pattern>
    </filter-mapping>

    <!-- ================= CONTEXT PARAM ================= -->

 <!-- Faces Config Location -->
    <context-param>
        <param-name>jakarta.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>

    <!-- Project Stage -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- Skip JSF comments -->
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Default suffix -->
    <context-param>
        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <!-- ================= WELCOME FILE ================= -->

    <welcome-file-list>
        <welcome-file>pages/user/index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- MIME Type Mappings for PrimeIcons -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>font/woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>font/woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>font/ttf</mime-type>
    </mime-mapping>

    <!-- ================= OAUTH SERVLETS ================= -->
    
    <!-- Google OAuth Callback Servlet -->
    <servlet>
        <servlet-name>GoogleOAuthCallback</servlet-name>
        <servlet-class>controllers.GoogleOAuthCallback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleOAuthCallback</servlet-name>
        <url-pattern>/oauth-callback</url-pattern>
    </servlet-mapping>

    <!-- Google OAuth Processor Servlet -->
    <servlet>
        <servlet-name>GoogleOAuthProcessor</servlet-name>
        <servlet-class>controllers.GoogleOAuthProcessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleOAuthProcessor</servlet-name>
        <url-pattern>/process-google</url-pattern>
    </servlet-mapping>

    <!-- ================= CHAT SERVLETS ================= -->

    <!-- Chat API Servlet -->
    <servlet>
        <servlet-name>ChatApiServlet</servlet-name>
        <servlet-class>servlets.ChatApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatApiServlet</servlet-name>
        <url-pattern>/api/chat/*</url-pattern>
    </servlet-mapping>

</web-app>
